@charset "UTF-8";
body {
  font-family: Courier New;
  background-color: rbg(208, 255, 246);
  text-align: center;
}

a {
  text-decoration: none;
  color: hotpink;
  background-color: lavender;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
