body {
    font-family: fantasy;
    background-color:  purple;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: hotpink;
    background-color: lavender;
    padding: 10px;
  }

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }